/* Font Setup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins{
  font-family: "Poppins", serif;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope{
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  max-width: 1440px;
margin: 0 auto;
}
/* Navbar */
header{
  margin: 30px 120px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 1.5rem;
  color: #3A3A3A;
  font-weight: 700;
}
.nav-items ul{
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  list-style: none;
}
.nav-items ul li a{
text-decoration: none;
font-weight: 600;
color: #3A3A3A;

}

/* Banner */
.banner-content{
  max-width: 582px;
  margin: 0;
}
.banner-heading{
  font-size: 3.25rem;
  font-weight: 700;
  margin: 0;
  
}
.banner-desc{
  font-weight: 600;
}
.banner-button{
  background-color: #E02C6D;
  border-radius: 41px;
  border: none;
  font-weight: 700;
  color: #FFFFFF;
  width: 196px;
  height: 44px;
}

.banner-container{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;

}

.banner-imgs{
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 475px;
  width: 475px;


}
.banner-imgs img{
  width: 100%;
  height: 440px;
}

/* sponsor section */
.sponsor{
  margin: 70px auto;
  max-width: 1150px;
  align-items: center;
  justify-items: center;
}

.sponsor-container{
display: grid;
grid-template-columns: repeat(7,1fr);
align-items: center;
justify-content: center;
column-gap: 30px;
padding: 36px 60px
}

.sponsor>hr {
  
    height: 1px;
    border: 0;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
  }
  
/* Main Products Section */
.products-main{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.products-main-tittle{
  font-weight: 600;
  font-size: 1.75rem;
}
.prouducts{
  /* width: 329px;
  height: 513px; */
  background-color: #FFFFFF;
  padding: 17px 15px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3, 329px);
  justify-items: center;
  justify-content: center;
  column-gap: 60px;
  row-gap: 30px;

}
.prouducts-image{
  width: 100%;
}

.prouducts-tittle{
  font-weight: 500;
  font-size: 1.75rem;
  color: #18191F;
}

.prouducts-price{
font-size: 1.5rem;
color: #000000;
}

.prouducts-rating{
  font-size: 1rem;
  font-weight: 700;
  color: #5E6366;
}
.fa-solid,.fa-star,.fa-star-half-stroke{
  color: orange;
}

.prouducts-description{
  font-size: 0.8rem;
width: 196px;
color: #787885;
font-weight: 700;
}
.fa-arrow-right{
  color: #E02C6D;
}
.product-more a{
  font-weight: 700;
  color: #E02C6D;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
/* Featured Section */
.featured-container{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 50px 120px;
}
.featured-details{
  max-width: 610px;

}
.featured-details h2{
  font-size: 2.3rem;
  font-weight: 700;
  color: #0A0826;
}
.featured-details p{
  font-weight: 700;
  color: #6C6C6C;
}
.featured-button{
  background-color: #E02C6D;
  width: 155px;
  height: 44px;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
}
.button-arrow{
  color: white;
}
/* Footer Section */

.footer-container{
  width: 100%;
  background-color: #0A0826;
  margin: 0 0;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

.footer-container h3{
color: #FFFFFF;
font-weight: 700;
font-size: 1.5rem;
}
.footer-container p{
  color: #D9DBE1;
  font-size: 0.9rem;
  font-weight: 700;
}
.fa-brands{
  color: white;
}
.social-icons i{
margin-inline: 15px;
}

/* Responsive Section */

@media screen and (max-width:576px) {
  header{
    margin: 0;
  }
  
  .nav-items>ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   padding: 0 ;
  }
  nav{
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
  }
 .banner-container{
  margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 1px;
 }
.banner-content{
  text-align: center;
  align-items: center;

}
.banner-imgs{
 
  height: 257px;
  width: 257px;
}
.banner-imgs img{
  width: 240px;
  height: 225px;
  margin: 10px;
}

.sponsor{
  max-width: 100%;
}
.sponsor-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}
.product-container{
  grid-template-columns: repeat(1, 1fr);
  
}
.product-more a{
  justify-content: center;
}

.featured-container{
  flex-direction: column-reverse;
margin: 0 auto;
text-align: center;

}
.featured-container img{
width: 95%;
}
.featured-details{
  max-width: 100%;
  padding: 10px;
}

}
@media screen and (min-width:576px) and (max-width: 992px) {
  
  header{
    margin: 0;
  }

  .nav-items>ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   padding: 0 ;
  }
  nav{
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
  }
 .banner-container{
  /* margin: 0 auto; */
 }
.banner-content{
    margin: 0 auto;
    text-align: center;
}
.banner-container{
  margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 1px;
 }
.banner-imgs{
 
  height: 257px;
  width: 257px;
}
.banner-imgs img{
  width: 240px;
  height: 225px;
  margin: 10px;
}
.sponsor{
  max-width: 80%;
}
.sponsor-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}
.product-container{
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  width: 100%;
  justify-content: center;  
  .prouducts:nth-child(9) {
    grid-column: span 2;
    text-align: center;
  }
  
}
.product-more a{
  justify-content: center;
}

.featured-container{
  flex-direction: column-reverse;
margin: 0 auto;
text-align: center;

}
.featured-container img{
width: 95%;
}
.featured-details{
  max-width: 100%;
  padding: 10px;
}


}